#ContainerPrincipal {
    font-family: initial;
    background-color: royalblue;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0px;
    border: 0px;
}

#ContainerList {
    text-align: center;
    padding: 0px;
    margin: 15px;
    width: 100%;
    height: 100%;
}

#Encabezado {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table tr,
td {
    text-align: center;
    border: royalblue 1px solid;
}

#grupoForm {
    background-color: rgba(104, 150, 202, 0.493);
    color: black;
    border: rgb(82, 107, 182) 1px solid;
    border-radius: 15px;
    padding: 20px;
    display: none;
}

#botones {
    text-align: center;
    padding: 20px;
}

#grupoList {
    text-align: center;
    display: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 55px;
}

#table {
    text-align: center;
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

#alert {
    text-align: center;
    display: none;
    margin: 25px;
    padding: 10px;
    border: 0px;
}